@font-face {
    font-family: 'FREESCPT';
    src: url('../fonts/FREESCPT.eot');
    src: url('../fonts/FREESCPT.eot') format('embedded-opentype'),
         url('../fonts/FREESCPT.woff2') format('woff2'),
         url('../fonts/FREESCPT.woff') format('woff'),
         url('../fonts/FREESCPT.ttf') format('truetype'),
         url('../fonts/FREESCPT.svg#FREESCPT') format('svg');
}


@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?6jdr41');
    src:  url('../fonts/icomoon.eot?6jdr41#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?6jdr41') format('truetype'),
      url('../fonts/icomoon.woff?6jdr41') format('woff'),
      url('../fonts/icomoon.svg?6jdr41#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak-as: normal;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
  }
  
  .icon-linkedin:before {
    content: "\e900";
  }
  .icon-twitter:before {
    content: "\e901";
  }
  .icon-facebook:before {
    content: "\e902";
  }
  .icon-phone:before {
    content: "\e942";
  }
  .icon-envelop:before {
    content: "\e945";
  }
  .icon-location2:before {
    content: "\e948";
    padding: 0 15px 20px 0;
  }
  .icon-search:before {
    content: "\e986";
  }
  .icon-circle-up:before {
    content: "\ea41";
  }
  .icon-circle-right:before {
    content: "\ea42";
  }
  .icon-circle-down:before {
    content: "\ea43";
  }
  .icon-circle-left:before {
    content: "\ea44";
  }
  .icon-google-plus3:before {
    content: "\ea8d";
  }
  .icon-dribbble:before {
    content: "\eaa7";
  }
  .icon-pinterest:before {
    content: "\ead1";
  }

*,
::before,
::after{
    box-sizing: border-box;
}
/* img{
    max-width: 100%;
    height: auto;
} */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
} 
a{
    text-decoration: none;
} 
ul{
    list-style-type: none;
} 
body{
    width: 100%;
    height: 100%;
    font: 14px/1.2 'Open Sans','Lato',sans-serif ;
    color: #555555;
}
/* HEADER */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    min-height: 100px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
    overflow: hidden;
}

.logo img{
    width: 70px;
    height: 70px;
}
.logo{
    width: 70px;
    padding: 0;
    margin: 0;
}
.menu__box li{
    padding: 0 0 5px 30px;
}
.menu__item {
    color: #555555;
    font-weight: 700;
    color: inherit;
}
.menu__item::after {
    content: '';
    display: block;
    position: relative;
    left: 25%;
    width: 50%;
    height: 1px;
    background:#5363db;
    opacity: 0;
    
}
.active {
    color: #5363db;
}
.active::after{
    content: '';
    display: block;
    position: relative;
    left: 25%;
    width: 50%;
    height: 1px;
    background:#5363db;
}

#menu__toggle {
    position: absolute;
    opacity: 0;  
 }
.menu__box{
    display: flex;
    padding: 0;
    margin: 0;
}
.menu__item:hover {
    color: #5363db;
}
.menu__item:hover.menu__item::after {
    opacity: 1;
}

/* MAIN */

/* ENTER */

.main{
    display: flex;
    flex-grow: 1;
}
.enter{
    min-height: 600px;
    background: url(../images/bg-01.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    padding: 20px 15px;
} 
.class,
.slogan{
    display: flex;
    width: 50%;
}
.class{
    justify-content: flex-end;
    align-items: center;
    padding: 0 45px 20px  ;
}
.form{
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 20px;
    padding: 35px 30px 35px;
    min-height: 390px;
    max-width: 300px;
    box-shadow: 8px 8px 10px rgba(0,0,0, 0.15);
}
.form h5{
    font-size: 26px;
    color:#5363db;
    margin: 0;
    padding: 0 0 8px 5px;
}
.text,
.form select{
    height: 50px;
    width: 100%;
    font-size: 14px;
    background: #f2f2f2;
    color: #888888;
    padding: 0 10px;
    border: none;
    border-radius: 8px;
}
.form div{
    padding: 17px 0 0;
}
.button{
    height: 50px;
    text-align: center;
    width: 170px;
    font-size: 16px;
    background: #5b6ceb;
    color: #ffffff;
    border: none;
    border-radius: 8px;  
    transition-duration: 0.3s; 
}
.button:hover{
    background: #ffffff;
    border: 2px solid #5b6ceb;
    color: #5b6ceb;
}
.form > :nth-child(5){
    padding: 31px 0 0 70px;
}
.slogan{
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    padding: 0 45px 30px 45px;
}
.slogan h5{
    font-size: 48px;
    text-transform: uppercase;
    line-height: 1.5;
    padding: 0 100px 23px 5px;
    margin: 0;
}
.slogan h6{
    font-size: 40px;
    font-family: FREESCPT;
    font-weight: 400;
    line-height: 1.2;
    padding: 0 100px 0 5px;
    margin: 0;
}


/* CLASSES */
.classes{
    display: flex;
    max-width: 1200px;
    flex-direction: column;
    align-items: center;
    padding: 120px 0 190px ;
    margin: 0 auto;
}
.classes h1{
    text-align: center;
}
h1 {
    font-size: 30px;
    color: #5b6ceb;
    padding: 0 15px 5px;
    margin: 0 15px;
    text-transform: uppercase;

}
h2 {
    font-size: 41px;
    color: #777777;
    font-family: 'FREESCPT';
    font-weight: 400;
    margin: 0 0 65px;
}
.sheet{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 ;
}
.health {
    display: flex;
    width:calc(50% - 30px);
    min-height: 300px;
    border-radius: 7px;
    box-shadow:8px 8px 10px rgba(0,0,0, 0.15);
    margin: 0 0 25px;
    border-radius: 10px;
    overflow: hidden;
    transition-duration: 0.5s;
}
.health:hover{
    transform: scale(1.1);
    box-shadow:0 0 20px #5363db;

}
.health img{
    max-width: 270px;
    min-height: 300px;
    object-fit: cover;
} 

.program{
    padding: 25px 15px 25px 30px;
}
.program h3{
    font-size: 20px;
    color: #777777;
    text-transform: uppercase;
    margin: 0;
    padding: 20px 0 25px;
}
.program p{
    line-height: 1.6;
    margin: 0;
    padding: 0  0 13px ;
}
.program a{
    color: #999999;
}
.program a:hover{
    color: #5b6ceb;
}

/* GALLERY */

.gallery ul{
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0;
}
.icon-search a{
    display: flex;
    min-width: 100%;
    height: 100%;
}
.icon-search img{
    width: 100%;
    min-height: 256px;
    object-fit: cover;
}

.icon-search {
    position: relative;
    width: 25%;
} 
.icon-search::before{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    font-size: 20px;
    color: #5b6ceb;
    background: #ffffff;
    border-radius: 50%;
    padding: 10px;
    opacity: 0;
    transition-duration: 0.5s;
    pointer-events: none;
} 
.icon-search::after{
    content: '';
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100%;
    background: #5b6ceb;
    right: 0;
    top: -50%;
    transform: translateY(50%);
    opacity: 0;
    transition-duration: 0.5s;
    pointer-events: none;
}
.icon-search:hover.icon-search::before{
    opacity: 1;
}
.icon-search:hover.icon-search::after{
    opacity: 0.7;
}

/* SL */

.sl{
    display: flex;
    justify-content:space-between;
    align-items: center;
    max-width: 1200px;
    min-height: 650px;
    padding: 0 15px;
    margin: 0 auto;
}
.sl_text{
    display: flex;
    flex-direction: column;
    min-height: 300px;
    max-width: 470px;
    padding: 15px 25px 15px 0 ;
}
.sl_text h1{
    margin: 0 0 10px;
    padding: 0 ;
}
.sl_text p{
    line-height: 1.6;
    padding: 0 0 20px ;
} 
.sl_sl{
    max-width:570px;
    max-height: 300px;
    position: relative;
    margin: 0 ;
    box-shadow:8px 8px 10px rgba(0,0,0, 0.15);
    border-radius: 10px;
}
.sl_sl img{
    width: 100%;
    min-height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.sl_sl:hover{
    box-shadow:0 0 20px #5363db;
}
.sl_sl:hover .slick-next,
.sl_sl:hover .slick-prev{
    box-shadow:0 0 20px #5363db;
}
.slick-prev::before,
.slick-next::before{
    content: '';
    width: 15px;
    height: 15px;
    border: 2px solid #5363d8;
    border-width: 2px 2px 0 0;
    transform: rotate(45deg);
    display: inline-block;
    z-index: 6;
}   

.slick-prev::before{
    transform: rotate(-135deg);
    margin:  0 0 0 5px;
}
.slick-next::before{
    margin: 0 5px 0 0 ;
}
.slick-next{
    z-index: 5;
    width: 50px;
    height: 50px;
    background: #ffffff;
    border-radius: 50%;
    box-shadow:8px 8px 10px rgba(0,0,0, 0.15);
}
.slick-prev{
    z-index: 5;
    width: 50px;
    height: 50px;
    background: #ffffff;
    border-radius: 50%;
    box-shadow:8px 8px 10px rgba(0,0,0, 0.15);
}
.slick-next:hover,
.slick-prev:hover{
    background: #5363d8;
}
.slick-prev:hover::before,
.slick-next:hover::before{
    border: 2px solid #ffffff;
    border-width: 2px 2px 0 0;
    opacity: 1;
}

/* FEATURES */

.features{
    display: flex;
    width: 100%;
    min-height: 800px;
    align-items: center;
    background: url(../images/bg-02.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.features::before{
    content: '';
    width: 100%;
    min-height: 100%;
    background: #5363db;
    background-size: cover;
    opacity: 0.7;
    position: absolute;
    z-index: 1;
}
.contour{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 ;
    margin: 0 auto;
    z-index: 2;
}
.feture{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 25%;
    min-height: 250px;
    text-align: center;
    color: #ffffff;
    padding: 25px 15px  25px;

}
.feture >:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: 2px solid #ffffff; 
    border-radius: 50%;
    padding: 10px;

}
.feture img{
    width: 70px;
    max-height: 70px;
    object-fit: cover;
    padding: 10px;
}
.feture h4{
    /* min-height: 50px; */
    margin: 25px 0 15px;
}


.feture h4{
    min-height: 50px;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.5;
    padding: 0;
    margin: 25px 0 15px;
} 

.feture p{
    margin: 0;
    line-height: 2;
}

/* PRICES */
.prices{
    width: 100%;
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/bg-03.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;

}
.price{
    display: flex;
    flex-direction: column;
    width: 370px;
    border-radius: 10px;
    overflow: hidden;
    background: #ffffff;
    box-shadow:8px 8px 10px rgba(0,0,0, 0.15);
    margin:  15px;
    transition-duration: 0.5s;
}
.price:hover{
    transform: scale(1.1);
    box-shadow:0 0 30px #5363db;

}
.size{
    display: flex;
    max-width: 370px;
    min-height: 150px;
    justify-content: center;
    align-items: center;
    background-color: #5b6ceb;
    color: #ffffff;
    margin: 0;  
    font-size: 67px;
    font-weight: 700;
}
.size span{
    display: flex;
    position: relative;
    min-width: 85px;
}
.size span::before{
    content: '$';
    font-size: 32px; 
    position: absolute; 
    left: -50%;
    top: 25%; 
}
.size span::after{
    content: '/ month';
    text-transform: uppercase;
    font-size: 18px; 
    font-weight: 400;
    min-width: 90px;
    position: absolute;
     margin: 10px 0 0 0; 
    left: 80px;
    top: 50%;   
} 
.date{
    display: flex;
    justify-content: center;
    padding: 25px;
}

.timetable{
    margin: 0;
    min-width: 230px;
    padding: 0;
}
.timetable li::after {
    content: '';
    display: block;
    position: absolute; 
    left: 25%;
    bottom: -5px;
    width: 45%;
    height: 1px;
    background:#555555;
    z-index: 5;
}
.timetable li{
    font-size: 18px;
    padding: 25px 0 15px;
    position: relative;
}
.timetable >:nth-child(3)::after{
    opacity: 0;
}
.buy_now{
    width: 170px;
    height: 50px;
    background: #5b6ceb;
    border-radius: 20px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    border: none;  
    transition-duration: 0.3s;
}
.buy_now:hover{
    background: #ffffff;
    border: 2px solid #5b6ceb;
    color: #5b6ceb;
}
.pos_bt{
    width: 100%;
    text-align: center;
    padding: 10px 0 50px;
}

/* FOOTER */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #5b6ceb;
}

/* about_contacts */
.about_contacts{
    display: flex;
    color: #ffffff;
    max-width: 1200px;
    min-height: 450px;
    padding: 95px 15px 0;
    margin: 0;
}
.about_contacts h4{
    font-size: 18px;
    margin: 0; 
}
.about{
   width: 50%;
   padding: 0 100px 0 0;
}
.icon{
    display: flex;
    padding: 0;
    margin: 0;
}
.icon a{
    display: flex;
    color: #ffffff;
    font-size: 21px;
    margin-right: 17px;
    transition-duration: 0.3s;
    
}
.icon a:hover{
    transform: scale(1.5);
    color: #10072b;
}
.about p{
    margin: 0;
    line-height: 1.7;
    padding: 50px 0 65px;
}



.contacts{
    width: 50%;
    padding: 0 0 0 15px;
}

.contacts_nav{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0 0;
    margin: 0;
}
.contacts_nav >li{
    width: 50%;
    min-height: 50px;
    padding: 0 0 20px;
}
.contacts_nav >:nth-last-child(2n+1){
    padding: 0 0 0 50px;
}
.contacts_nav a{
    color: #ffffff;
    line-height: 1.5;
    font-size: 16px;
    transition-duration: 0.3s;
}
.contacts_nav a:hover{
    color: #10072b;
}


 
.icon-location2::before{
    position: absolute;
    font-size: 20px;
}
.icon-phone::before{
    position: absolute;
    font-size: 20px;
}
.icon-envelop::before{
    position: absolute;
    font-size: 20px;
    transform: translateX(-30px);
}
.icon-dribbble::before{
    position: absolute;
    font-size: 20px; 
    transform: translateX(-30px);
}

/* copyright */
.copyright{
    display: flex;
    background: #5363d8;
    width: 100%;
    min-height: 100px;
    justify-content: center;
    align-items: center;
}
.copyright p{
    color: #b7bffc;
    font-size: 16px;
    margin: 0;
}


/* MEDIA */

@media (max-width: 1130px){
    .slogan h5{
        padding: 0 0 23px 5px;
    }
}

 @media (max-width: 960px) {
    .sheet{
        max-width: 900px;
        flex-direction: column;
        align-items: center;
        padding: 0 15px 120px;
    }
    .health {
        width:100%;
    }
    .program{
        padding: 25px 30px;
    }



    .menu__item:hover {
        color: #5363db;
    }
    .menu__item:hover.menu__item::after {
        opacity: 0;
    }
    .menu__btn {
        display: flex; 
        align-items: center; 
        position: absolute;
        right: 25px;
        width: 30px;
        cursor: pointer;
        z-index: 7;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #5363d8;
    }
    .menu__btn > span{
        top: 0;
    }
    .menu__btn > span::before {
        content: '';
        top: -11px;
    }
    .menu__btn > span::after {
        content: '';
        top: 11px;
    }
    .menu__box {
        display: block;
        position: absolute;
        visibility: hidden ;
        top: -100%;
        right: 0;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        text-align: center;
        background-color: #10072b;
        z-index: 6;
      }
      .menu__box li{
          padding: 15px 0;
      }
      .menu__item {
        display: block;
        padding: 12px 0;
        color: #ffffff;
        font-size: 18px;
      }
      .menu__item:hover {
        background-color: #ffffff;
        color: #5363d8;
      }
      #menu__toggle{
          right: 25px;
          top: 30px;
          width: 30px;
          height: 30px;
      }
      #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
        background-color: #fff;
      }
      
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
        background-color: #fff;
      }
      
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
        background-color: #fff;
      }
      
      #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        opacity: 0.8;
        width: 300px;
        top: 0; 
      }
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        transition-duration: .4s;
      }
      .menu__box {
        transition-duration: .4s;
      }
      .menu__item {
        transition-duration: .4s;
      }
      .active::after{
        display: none;
      }
    


    
    .icon-search img{
        width: 100%;
        height: auto;
    }
    
    .icon-search {
        width: 50%;
        height: auto;
    } 
    .icon-search::after{
        height: 100%;
    }



    .sl{
        flex-wrap: wrap;
        justify-content:center;
        height: auto;
    }
    .sl_text{
        display: flex;
        flex-direction: column;
        min-height: auto;
        max-width: 100%;
        padding: 15px 25px 15px 0;
    } 
    .sl_sl{
        width: 90%;
    }



    .contour{
        justify-content: center;
    }
    .feture{
        width: 50%;
    
    }




    .prices{
        flex-wrap: wrap;
        justify-content: center;
        padding: 30px 0 ;
        margin: 0 auto;
    }
    .about_contacts{
        display: flex;
        flex-wrap: wrap;
        color: #ffffff;
        max-width: 1200px;
        min-height: 450px;
        padding: 50px 15px ;
        margin: 0;
    }
    .about{
        width: 100%;
        padding: 0 100px 50px 0;
     }
     .contacts{
        width: 100%;
        padding: 0;
    }
} 

@media (max-width: 720px){
    .enter {
        min-height: 600px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    } 
    .class,
    .slogan{
        display: flex;
        width: 100%;
    }
    .class{
        justify-content: center;
        align-items: center;
        padding:35px 15px 25px ;
    }
    .slogan{
        text-align: center;
        color: #ffffff;
        padding: 0 25px 25px ;
    } 
    .slogan h5{
        padding: 0 0 25px 0;
    }
    .slogan h6{
        padding: 0 0 35px;
        
    }  
}

@media (max-width: 540px){
    .slogan h5{
        font-size: 30px;
        padding: 0 0 25px 0;
    }
    .slogan h6{
        font-size: 28px;
        padding: 0 0 35px;
        
    }
    .form > :nth-child(5){
        padding: 31px 0 0 50px ;
        text-align: right;
    }
    .form{
        padding: 40px 30px;
    }
    .classes h1{
        padding: 30px 15px 10px;
    }
    .classes h2{
        padding: 0 0 10px;
    }


    .health{
        max-width: 270px;
        flex-direction: column;
    }

    .contacts{
        width: 100%;
        padding: 0 ;
    }
    .contacts_nav >:nth-last-child(2n){
        width: 100%;
        min-height: 50px;
        padding: 0  0  10px;
        margin: 0 ;
    }
    .contacts_nav >:nth-last-child(2n+1){
        width: 100%;
        min-height: 50px;
        padding: 0  0 0 40px;
    }
    .icon-envelop::before,
    .icon-dribbble::before{
        transform: translateX(-40px);
    }
    .feture{
        width: 100%;
    
    }
    .sheet {
        padding: 0 15px 30px;
    }
    .sl {
        padding: 20px 15px;
    }
    .size span{
        font-size: 50px;
    }
    .size{
        min-height: 100px;
    }
    .size span::before{
        font-size: 26px;
        left: -35%;
    }
    .size span::after{
        font-size: 16px;  
        left: 60px;
      
    } 
    .pos_bt{
        padding: 10px 0 30px;
    }   
}